@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
    color: #FEFEFE;
}

p {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: #FEFEFE;
}

/* Header Section */

#header {
    border-bottom: 1px solid #FEFEFE;
}

.weather p {
    margin: 0 auto;
    align-self: center;
}

.name p {
    margin: 0 auto;
    align-self: center;
}

.icons {
    margin: 0 auto;
    align-self: center;
    list-style-type: none;
}

.icons a {
    padding: 0 30px;
}

.linkedin {
    height: 40px;
    width: 40px;
}

.github {
    height: 40px;
    width: 40px;
}

/* About Me Section */

#intro {
    border-bottom: 1px solid #FEFEFE;
}

.about-me {
    padding: 25px;
}

.about-me-textbox {
    padding: 25px;
    text-align: center;
    align-self: center;
    line-height: 2.5;
    border: 1px solid #FEFEFE;
}

/* Projects Section */

#projects {
    padding: 25px;
    border-bottom: 1px solid #FEFEFE;
}

.projects-headline p {
    margin: 0 auto;
    align-self: center;
}

.left-slider {
    margin: 0 auto;
    align-self: center;
}

.satres-list-title p {
    margin: 0 auto;
    align-self: center;
}

.satres-list-picture {
    background-image: url("/img/sl-logo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.satres-list-picture:hover {
    background-image: url("/img/satres-list.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.startup-matchmaker-title p {
    margin: 0 auto;
    align-self: center;
}

.startup-matchmaker-picture {
    background-image: url("/img/sm-logo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.startup-matchmaker-picture:hover {
    background-image: url("/img/startup-matchmaker.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.third-project-title p {
    margin: 0 auto;
    align-self: center;
}

.third-project-picture {
    background-image: url("/img/tp-logo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.third-project-picture:hover {
    background-image: url("/img/tp-logo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth-project-title p {
    margin: 0 auto;
    align-self: center;
}

.fourth-project-picture {
    background-image: url("/img/fp-logo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth-project-picture:hover {
    background-image: url("/img/fp-logo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-slider {
    margin: 0 auto;
    align-self: center;
}

/* Contact Me Section */

#contact-me {
    text-align: center;
    padding: 25px;
}

.contact-me-headline {
    border-bottom: 1px solid #FEFEFE;
}

.contact-text-box {
    padding: 25px;
    text-align: center;
    align-self: center;
    line-height: 2.5;
    border: 1px solid #FEFEFE;
}

.form {
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.name-input {
    padding: 10px;
    border: 1px solid #FEFEFE;
}

.email-input {
    padding: 10px;
    border: 1px solid #FEFEFE;
}

.message-input {
    padding: 10px;
    border: 1px solid #FEFEFE;
    word-wrap: break-word;
    word-break: break-all;
}

.submit-button {
    padding: 10px;
    border: 1px solid #FEFEFE;
    display: flex;
    align-content: center;
    justify-content: center;
}

.submit-button a {
    align-self: center;
}

.bottom-nav {
    list-style-type: none;
}

.bottom-nav li {
    margin: 20px 0 0 0;
}

.bottom-desktop-nav li {
    margin-left: 45px;
    padding: 20px 0 10px 0;
    list-style-type: none;
}

#desktop-bottom-links {
    align-items: center;
}

.resume-icon {
    height: 30px;
    width: 30px;
}

.linkedin-bottom {
    height: 30px;
    width: 30px;
}

.github-bottom {
    height: 30px;
    width: 30px;
}

.email-icon {
    height: 30px;
    width: 30px;
}