/******** Desktop Sizing ********/

@media screen and (min-width: 992px) {
    #container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 3fr 6fr 2fr 0.5fr;
    }

    /* Header Section */

    #header {
        grid-column: 1/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .weather {
        grid-column: 1/2;
        display: flex;
    }

    .name {
        grid-column: 2/3;
        display: flex;
    }

    .icons {
        grid-column: 3/4;
        display: flex;
    }

    .hamburger {
        display: none;
    }

    /* About Me Section */

    #intro {
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .about-me {
        grid-column: 3/4;
        display: flex;
    }

    /* Projects Section */

    #projects {
        margin-top: -40px;
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        gap: 10px;
    }

    .projects-headline {
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
    }

    .left-slider {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .satres-list-title {
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
    }

    .satres-list-picture {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .startup-matchmaker-title {
        grid-column: 3/4;
        grid-row: 3/4;
        display: flex;
    }

    .startup-matchmaker-picture {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .third-project-title {
        grid-column: 4/5;
        grid-row: 3/4;
        display: flex;
    }

    .third-project-picture {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .fourth-project-title {
        display: none;
    }

    .fourth-project-picture {
        display: none;
    }

    .right-slider {
        grid-column: 5/6;
        grid-row: 2/3;
    }

    /* Contact Me Section */

    #contact-me {
        grid-column: 1/4;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 2fr;
        padding: 25px;
    }

    .contact-me-headline {
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        align-self: center;
        justify-self: center;
        margin-bottom: 30px;
    }

    .contact-text-box {
        margin: 0 20px;
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        align-self: center;
        justify-self: center;
    }

   .form {
       grid-column: 3/5;
       grid-row: 1/3;
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: 1fr 2fr 1fr;
       gap: 10px;
       margin: 15px 20px 0 20px;
   }

   .name-input {
       grid-column: 1/3;
       grid-row: 1/2;
   }

   .email-input {
       grid-column: 3/5;
       grid-row: 1/2;
   }

   .message-input {
       grid-column: 1/5;
       grid-row: 2/3;
   }

   .submit-button {
       grid-column: 1/3;
       grid-row: 3/4;
   }

    .bottom-nav {
        display: none;
    }

    #desktop-bottom-links {
        grid-column: 1/4;
        grid-row: 5/6;
        display: flex;
    }

    .bottom-desktop-nav {
        display: flex;
        flex-direction: row;
    }
}































































/******** Tablet Sizing ********/

@media screen and (min-width: 767px) and (max-width: 992px) {
    #container {
        display: grid;
        grid-template-rows: 1fr 4fr 4fr 4fr 1fr;
        width: 100vw;
        height: 100vh;
    }

    /* Header Section */

    #header {
        grid-column: 1/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .weather {
        grid-column: 1/2;
        display: flex;
    }

    .name {
        grid-column: 2/3;
        display: flex;
    }

    .icons {
        display: none;
    }

    .hamburger {
        grid-column: 3/4;
        display: flex;
    }

    /* About Me Section */

    #intro {
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .about-me {
        grid-column: 1/4;
        display: flex;
    }

    /* Projects Section */

     #projects {
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-rows: repeat(15, 1fr);
        gap: 30px;
    }

    .projects-headline {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
    }

    .left-slider {
        display: none;
    }

    .satres-list-title {
        display: none;
    }

    .satres-list-picture {
        grid-column: 1/2;
        grid-row: 2/9;
        outline: 1px solid #FEFEFE;
    }

    .startup-matchmaker-title {
        display: none;
    }

    .startup-matchmaker-picture {
        grid-column: 1/2;
        grid-row: 9/16;
        outline: 1px solid #FEFEFE;
    }

    .third-project-title {
        display: none;
    }

    .third-project-picture {
        display: none;
    }

    .fourth-project-title {
        display: none;
    }

    .fourth-project-picture {
        display: none;
    }

    .right-slider {
        display: none;
    }

    /* Contact Me Section */

    #contact-me {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .name-input {
        display: none;
    }

    .email-input {
        display: none;
    }

    .message-input {
        display: none;
    }

    .submit-button {
        display: none;
    }

    #desktop-bottom-links {
        display: none;
    }
}








































/******** Mobile Sizing ********/

@media screen and (max-width: 767px) {
    #container {
        display: grid;
        grid-template-rows: 1fr 4fr 4fr 2fr;
        width: 100vw;
        height: 100vh;
    }

    /* Header Section */

    #header {
        grid-column: 1/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }

    .weather {
        grid-column: 1/2;
        display: flex;
    }

    .name {
        grid-column: 2/3;
        display: flex;
    }

    .icons {
        display: none;
    }

    .hamburger {
        grid-column: 3/4;
        display: flex;
    }

    /* About Me Section */

    #intro {
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .about-me {
        grid-column: 1/4;
        display: flex;
    }

    /* Projects Section */

    #projects {
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-rows: repeat(15, 1fr);
        gap: 3px;
    }

    .projects-headline {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
    }

    .left-slider {
        display: none;
    }

    .satres-list-title {
        display: none;
    }

    .satres-list-picture {
        grid-column: 1/2;
        grid-row: 2/9;
        outline: 1px solid #FEFEFE;
    }

    .startup-matchmaker-title {
        display: none;
    }

    .startup-matchmaker-picture {
        grid-column: 1/2;
        grid-row: 9/16;
        outline: 1px solid #FEFEFE;
    }

    .third-project-title {
        display: none;
    }

    .third-project-picture {
        display: none;
    }

    .fourth-project-title {
        display: none;
    }

    .fourth-project-picture {
        display: none;
    }

    .right-slider {
        display: none;
    }

    /* Contact Me Section */

    #contact-me {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .name-input {
        display: none;
    }

    .email-input {
        display: none;
    }

    .message-input {
        display: none;
    }

    .submit-button {
        display: none;
    }

    #desktop-bottom-links {
        display: none;
    }
}